      <footer style="width: 100%; height: 75px;
                        background-color: black;
                        position: fixed;
                        bottom: 0;
                        color: white;
                        text-align: center">
          <p>Desarrollado por XXXXXX - {{ anio }}</p>
      </footer>

    <script src="/assets/js/bootstrap.min.js"></script>

</body>
</html>